@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-background: #1f1f1f;
  --gray-text: #b3b3b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: none;
  display: none;
}
