.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: relative;
  color: #fff;
  height: 100%;
}
.sign-up-btn {
  padding: 8px 32px 8px 8px;
}
