.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 32px;
}
.input-wrapper {
  background-color: #1f1f1f;
  border-radius: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  &:hover {
    background-color: #2a2a2a;
    border: 1px solid rgb(118, 118, 118);
  }
}
